
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.page-banner{
    height: 8vh;
    display: flex;
    margin: 5px 5px;
    justify-content: space-between;
}

.profile-box{
    height: 8vh;
    width: 8vh;
}

.currency-box{
    color: white;
    margin: auto 6px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 16px;
    border-radius: 8px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
}

.misc-text{
    color: white;
    margin: auto 10px;
}

#gems {
    height: 5vh;
    width: 5vh;
}

.big-icon-circle {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px -8px;
}

.search-box {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px 0;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 90%;
}

.search-box-cushion{
    background-color: transparent;
    width: 15vw;
}

.cross-bar {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 4px 0;
    height: 4.5vh;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0;
}

.cross-bar-hidden {
    padding: 4px 0;
    height: 4.5vh;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0;
}

.camera-view-footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-circle{
    background-color: rgba(0, 0, 0, 0.3);
    height: 15vh;
    width: 15vh;
    border-radius: 100%;
    border: 4px solid white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px -8px;
}

.carousel{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.page-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    height: 100vh;
    width: 300vw;
}

.page-turn-btn{
    height: 100vh;
    width: 10%;
    position: fixed;
    background-color: transparent;
    border: none;
    z-index: 1000;
}

#left-btn{
    left: 0;
}

#right-btn{
    right: 0;
}

.page-box{
    height: 100%;
    width: 100vw;
}

.greenscreen{
    background-color: #00ff00;
}

.menu-header{
    background-color: #2D53D9;
    display: flex;
    font-size: 1.5rem;
    height: 8vh;
    padding: 5px 5px;
    justify-content: space-between;
}

.pillow{
    height: 8vh;
    width: 3vh;
}

.menu-box{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.menu-btn{
    background-color: #D3D3D3;
    color: #404040;
    margin: 4px 0px;
    border: none;
    padding: 4vw 8vw;
    font-size: 1.5rem;
    text-align: left;
}

#map-page{
    background-image: url("/images/Map.png");
}